@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Montserrat";
  color: #062649;
}
body {
  background-color: #E8F2FD;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a, button {
  text-decoration: none;
  font-weight: bold;
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}
h3 {
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}

.logo {
  cursor: pointer;
  font-size: 2rem;
}

.nav_links a {
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
}
.nav_links a:hover {
  color: #A1C9F7;
}

.contact button {
  padding: 9px 25px;
  color: #A1C9F7;
  background-color: rgba(6, 38, 73, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.contact button:hover {
  background-color: rgba(6, 38, 73, 0.8);
}

.banner {
  background-color: #A1C9F7;
}
.banner h1 {
  font-size: 3rem;
  color: #1060BC;
  text-align: center;
  padding: 1rem;
}

.home {
  display: flex;
  flex: 1;
}
.home .key_words {
  color: #1060BC;
}
.home .half {
  flex: 50%;
  padding: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
}
.home .half .half_package {
  position: absolute;
  top: 5%;
  padding: 4vh;
}
.home .half .half_package > * {
  padding: 4vh;
}